<!DOCTYPE html >
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">	
<title>爱笑不笑</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<link rel="apple-touch-icon" href="images/logo.png" />
<meta name="keywords" content="幽默,搞笑,糗事,囧事,美女,成人笑话,荤段子" >
<meta name="description" content="爱笑不笑提供各类幽默段子、成人笑话、冷笑话、糗事囧事！爱笑不笑，今天你笑了吗？">
<script src="http://s11.cnzz.com/z_stat.php?id=1254170580&web_id=1254170580" language="JavaScript"></script>
<link rel="stylesheet" href="css/style.css">
<script type="text/javascript" src="js/zepto.js"></script>
<script type="text/javascript" src="js/addtohomescreen.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</head>

<body>
<!-- <iframe src="cache.html" style="display:none;"></iframe> -->
<div class="header">
<h1>爱笑不笑</h1>
<p>aixiaobuxiao.com</p>
</div>
<div class="nav-holder">
	<div class="nav">
		<a href="text_1.html" class="act" id="duanzi">爱笑不笑</a>
		<a href="image_list_1.html" id="tupian">内涵漫画</a>
		<!--apk下载提示-->
		<a href="http://cdn.jesgoo.com/app/axbx/aixiaobuxiao.apk" id="appDownload"></a>
	</div>
</div>
<div class="content">
	<ul>
		{% for item in data["items"]%}
		<li class="cb">
		<div class="title">{{item["title"]}}</div>
		<div class="con">{{item["data"]}}~</div>
		</li>
		{% end %}
	</ul>	
</div>
<div class="ctl">
	<a href="/text_1.html">首页</a>
	<a href="{{data["pre"]}}">上一页</a>
	<a href="{{data["next"]}}">下一页</a>
</div>
<script>
$(function() {
$("#appDownload").on('click', function(event) {
	_czc && _czc.push(["_trackEvent", "aixiaobuxiao", "client","android"]);
});	
});

//IOS添加用户指引///////////////////////////////////////////
var userAgent = navigator.userAgent.toLowerCase();
if(userAgent.indexOf('chrome')==-1 && userAgent.indexOf("qqbrowser")==-1 && userAgent.indexOf("baidu")==-1)
{//非chrome打开
	addToHomescreen({
		debug: 'ios',
		modal: true,//不可操作背景
		maxDisplayCount:2, //最多出现次数
		lifespan:0,//禁用时间
		displayPace: 0.1,//重复出现的间隔，minute
		//detectHomescreen: true//try to detect if the site has been added to the homescreen
	});       
}
</script>
</body> 
</html>
